<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body>
     
        <h1>Skill #<%= skillNum %></h1>
        <h3><%= skill.skill %></h3>
        
        <form action="/../skills/<%= skill.id %>?_method=DELETE"
            id="delete-form" method="POST">
            <button type="submit">X</button>
          </form>
        
      </body>
</body>
</html>