body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
   background-color: rgb(241, 217, 221); 
 
}
a {
  color: #ff5100;
  background-color: rgba(26, 153, 100, 0.3);
  font-size: 30px;
  text-align: center;
  margin: 10px;
  
}

h1 {
  color: rgb(192, 147, 149);
  background-color: rgba(145, 183, 201, .5);
  text-align: center;
  font-size: 65px;
  border: 2px solid rgb(255, 118, 202);
}

p{
  text-align: center;
  font-size: 30px; 

}

h3 {
  text-align: center;
  font-size: 50px;
  background-color:rgba(145, 183, 201, .5);
  color: rgb(255, 64, 30);
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-form button {
  color: red;
}
	
li {
  list-style: none;
}

