body {
  display: flex;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
   background-color: rgb(255, 0, 43); 
  flex-direction: column;
  width: 50%;
  margin: auto;
}
a {
  color: #000000;
  background-color: rgba(247, 0, 255, 0.644);
  font-size: 30px;
  text-align: center;
  margin: 10px;
  
}

h1 {
  color: rgb(14, 17, 199);
  background-color: rgb(0, 143, 100);
  text-align: center;
  font-size: 65px;
  border: 2px solid rgb(173, 136, 15);
}

p{
  text-align: center;
  font-size: 30px; 

}

h3 {
  text-align: center;
  font-size: 50px;
  background-color:rgba(145, 183, 201, .5);
  color: rgb(255, 64, 30);
}

#delete-form {
  position: absolute;
  display: inline-block;
  bottom: 40%;
  left: 50%;
  
  
}
#list {
 display: flex;
 flex-direction: column;
}


button {
  position: absolute;

  font-size: 30px;
  border: 2px solid black;
  margin: auto;
  left: 50%;
  top:50%;

}

input {
  position: absolute;
  height: 30px;
  border: 2px solid black;
  top: 50%;
  right: 50%;
}